<!--Bottom Nav -->
<footer>
  <nav class="navbar fixed-bottom bg-body-tertiary">
    <h6 class="display-9 navbar-text"> &copy; Copyright 2023 All Rights Reserved </h6>

    <div class="container-fluid">
      
    </div>
  </nav>
</footer>