

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
 <i class="" ></i>
    <a class="navbar-brand" href="/"> R8</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

     
    
    

        
          <a class="nav-link" href="/home"><i class="" ></i>Home </a>
        </li>
        
        
        
       <a href="#" class="icon" onclick="myfunction()"></a>
      </div>
</nav>

