<%- include('partials/header.ejs') %>
<%- include('partials/main_nav.ejs') %>

    <!-- MAIN CONTENT -->
    <body>
    <div class="home-container">
          <p>COMP 229 SEC. 401
            <br>Summer 2023
            <br>Group Project - Survey Site
            <br><br>
            Stefan Lovecchio
            <br>Maria Mudrakova
            <br>Theresa Bennett
            <br>Sukhraj Sandhu
            <br>Lujia Sun
          </p>
    </div>
    </body>
</html>
<%- include('partials/bottom_nav.ejs') %>
<%- include('partials/footer.ejs') %>